{% extends 'base.html.twig' %}

{% block title %}
    Posts
{% endblock %}

{% block body %}
    {% include 'default/_paginator.html.twig' with {
        paginator: paginator,
        route_name: 'posts_index_paginated',
    } %}

    {% if paginator.data is defined and paginator.data|length %}
            <div class="customMyApp offset-md-2">
            <div name="feed" class="col-7 offset-md-1">
                {#<div class="form-group">#}
                    {#<label for="comment"><h2>Posty:</h2></label>#}
                    {#<textarea class="form-control" rows="5" style="resize: none;" id="comment" placeholder="Napisz cos"></textarea>#}
                    {#<button class="btn mt-3">Dodaj post</button>#}
                {#</div>#}
                {% for row in paginator.data %}
                    <div class="card w-100" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">idusers {{ row.FK_idUsers }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ row.created_at }}</h6>
                            <p class="card-text">{{ row.content }}</p>
                            <a href="#" class="card-link">idmedia {{ row.idMedia }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>
    {% else %}
        <div>
            List is empty!
        </div>
    {% endif %}

{% endblock %}